[submodule "pg_async"]
	path = pg_async
	url = https://github.com/RekGRpth/pg_async.git
[submodule "pg_curl"]
	path = pg_curl
	url = https://github.com/RekGRpth/pg_curl.git
[submodule "pg_handlebars"]
	path = pg_handlebars
	url = https://github.com/RekGRpth/pg_handlebars.git
[submodule "pg_htmldoc"]
	path = pg_htmldoc
	url = https://github.com/RekGRpth/pg_htmldoc.git
[submodule "pg_jobmon"]
	path = pg_jobmon
	url = https://github.com/RekGRpth/pg_jobmon.git
[submodule "pgjwt"]
	path = pgjwt
	url = https://github.com/RekGRpth/pgjwt.git
[submodule "pg_mustach"]
	path = pg_mustach
	url = https://github.com/RekGRpth/pg_mustach.git
[submodule "pg_partman"]
	path = pg_partman
	url = https://github.com/RekGRpth/pg_partman.git
[submodule "pg_profile"]
	path = pg_profile
	url = https://github.com/RekGRpth/pg_profile.git
[submodule "pg_repack"]
	path = pg_repack
	url = https://github.com/RekGRpth/pg_repack.git
[submodule "pg_save"]
	path = pg_save
	url = https://github.com/RekGRpth/pg_save.git
[submodule "pg_ssl"]
	path = pg_ssl
	url = https://github.com/RekGRpth/pg_ssl.git
[submodule "pg_stat_kcache"]
	path = pg_stat_kcache
	url = https://github.com/RekGRpth/pg_stat_kcache.git
[submodule "pg_task"]
	path = pg_task
	url = https://github.com/RekGRpth/pg_task.git
[submodule "pldebugger"]
	path = pldebugger
	url = https://github.com/RekGRpth/pldebugger.git
[submodule "plsh"]
	path = plsh
	url = https://github.com/RekGRpth/plsh.git
[submodule "prefix"]
	path = prefix
	url = https://github.com/RekGRpth/prefix.git
